{% extends "base.html" %}

{% block content %}
    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>

    <style>
        .btn-download-results{
            text-align: center;
            display: block;
            margin: 30px 0px;
            font-size: 16px;
            padding: 10px 20px;
            width: 50%;
        }

    </style>
    <style>
        .btn-download-plot{
            text-align: center;
            display: block;
            margin: 100px -270px;
            font-size: 16px;
            padding: 10px 20px;
            width: 50%;

        }

    </style>

    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ url_for('static', filename='imagenet_subset/'+image_id) }} "
                     alt={{ image_id }}/>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="max-width: 500px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                        <div class="m-5 spinner spinner-border mr-auto spinner-grow text-dark row" id="spinner">
                        </div>
                    </div>
                </div>
                <a class="btn btn-dark" onclick="javascript:window.history.back(-1);return false;" role="button">Back</a>
            </div>
            <div>

                <a class="btn btn-dark float-right btn-download-results" href="{{ url_for("download_results", job_id=jobID) }}" role="button">Download results</a>
                <a class="btn btn-dark float-right btn-download-plot" href="{{ url_for("download_plot", job_id=jobID) }}" role="button">Download plot</a>
        </div>

        </div>
    </div>
    <script src="{{ url_for("static", filename="poll.js") }}" id="polling" jobid={{ jobID }}></script>

{% endblock %}



